@mixin bandList() {
    &_results {
        padding-top: 40px;

        @include relative;
        @include flex(flex-start, flex-start);
        
        @include setResponsiveDesign (1024px) {
            padding-top: 80px;
        }

        &_header {
            padding-bottom: 20px;
            @include flex1;

            @include setResponsiveDesign (1024px) {
                @include flex4;
            }

            &_title {
                padding-bottom: 10px;
            }

            &_desc {
                @include flex;
                gap: 4px;
                
                @include setResponsiveDesign (1024px) {
                    justify-content: flex-start;
                }

                li {
                    list-style: none;

                    a {
                        font-size: $font-size-small;
                        display: inline-block;
                        background-color: #999;
                        color: $color-white;
                        padding: 1px 10px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &_list {
            overflow-x: auto;
            @include flex1;

            @include setResponsiveDesign (1024px) {
                @include flexBasis(75%);
            }

            &::-webkit-scrollbar {
                width: 3px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-shadow;
                visibility: hidden;
                @include borderRadius(3px);
                @include transition;
            }

            &:hover::-webkit-scrollbar-thumb {
                visibility: visible;
            }

            &_item {
                &:not(:last-child) {
                    padding-bottom: 40px;
                }

                @include setResponsiveDesign (600px) {
                    @include flex(flex-start, flex-start);
                    gap: 20px;
                }

                &_thumbnail {
                    cursor: pointer;
                        
                    @include setResponsiveDesign (600px) {
                        width: auto;
                        @include flexBasis(200px, 20px);
                    }

                    @include setResponsiveDesign (720px) {
                        @include flexBasis(320px, 20px);
                    }

                    .img {
                        @include bgImage;
                        width: 100%;
                        height: 160px;

                        @include setResponsiveDesign (375px) {
                            height: 210px;
                        }

                        @include setResponsiveDesign (480px) {
                            height: 260px;
                        }

                        @include setResponsiveDesign (600px) {
                            height: 120px;
                        }

                        @include setResponsiveDesign (720px) {
                            height: 180px;
                        }
                    }
                }

                &_info {

                    @include setResponsiveDesign (600px) {
                        width: auto;
                        @include flexBasis(calc(100% - 200px), 20px);
                    }

                    @include setResponsiveDesign (720px) {
                        @include flexBasis(calc(100% - 320px), 20px);
                    }

                    &_title {
                        font-size: $font-size-small;
                        padding-top: 10px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                        
                        @include setResponsiveDesign (600px) {
                            padding-top: 0;
                        }
                    }

                    &_desc {
                        font-size: $font-size-small;
                        padding-top: 10px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .back {
            @include absolute(40px, unset);
            right: 0;
            @include button;

            font-size: calc($font-size-small * 0.8);
            padding: {
                top: 5px;
                bottom: 5px;
            }

            @include setResponsiveDesign(600px) {
                font-size: $font-size-small;
            }
        }
    }
}